* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #0A0A23;
    --white: #fff;
    --black: #000;
    --bgDefinition: #17471B;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bgColor);
    color: var(--white);
}

.palindrome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.palindrome__title {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
}

.palindrome__info {
    flex-wrap: wrap;
    min-height: 6.25rem;
    margin-bottom: 2.5rem;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 6px 6px #002ead;
}

.palindrome--box {
    width: min(100vw, 30rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
}

.palindrome__definition {
    min-height: 8.25em;
    font-size: 1.3rem;
    padding: 20px;
    background-color: var(--bgDefinition);
}





