* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #0A0A23;
    --white: #fff;
    --black: #000;
    --bgDefinition: #17471B;
    --indigoColor: #5A01A7;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bgColor);
    color: var(--white);
}

.freecodecamp-logo {
    height: 2rem;
    margin-bottom: 2.5rem;
}

.palindrome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.palindrome__title {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.palindrome--box {
    width: min(100vw, 30rem);
    display: flex;
    justify-content: center;
    border-radius: 1.25rem;
    align-items: center;
}
.palindrome__info {
    flex-wrap: wrap;
    min-height: 8.25rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 6px 6px #002ead;
}

.palindrome__input {
    width: 16rem;
    height: 1.87rem;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    border-bottom: 3px solid var(--indigoColor);
}

.palindrome__check-btn {
    padding: .62rem 1.75rem;
    margin-left: .62rem;
    border: none;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--indigoColor);
    cursor: pointer;
}

.palindrome__result{
    font-size: 1.35rem;
}

.palindrome__result > span {
    font-weight: bold;
}

.palindrome__definition {
    min-height: 8.25em;
    font-size: 1.3rem;  
    padding: 30px;
    background-color: var(--bgDefinition);
    align-items: normal;
}

